
:root {
  /* Paleta de cores */
  --bs-body-bg: #131313; /* Background do body */
  --bs-primary: #272727;
  --bs-secondary: #3a3a3a;
  --bs-tertiary: #4d4d4d;

  /* Personalizando links */
  --bs-link-color: #ffffff;
  --bs-link-hover-color: #4d4d4d;

  /* Tabela */
  --bs-table-bg: #272727; /* Cor de fundo das tabelas */
  --bs-table-text: #ffffff; /* Cor do texto nas tabelas */
  --bs-table-border-color: #3a3a3a; /* Cor das bordas da tabela */
 /*  --bs-emphasis-color: #ffffff; */
}

table {
  width: 100%;
  border-collapse: collapse;
  color: var(--bs-table-text);
}

th, td {
  padding: 8px;
  text-align: center;
}

th {
  background-color: var(--bs-primary);
}

a {
  color: var(--bs-link-color);
}

a:hover {
  color: var(--bs-link-hover-color);
}


body {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}

.btn-primary {
  background-color: #65B307;
  border-color: var(--bs-primary);
  color: var(--bs-body-color);
}

.btn-primary:hover {
  background-color: var(--bs-secondary);
  border-color: var(--bs-secondary);
}

.custom-card {
  background-color: var(--bs-secondary);
  color: var(--bs-body-color);
}

.table {
  --bs-table-bg: none;
}

.bg-table-acoes {
  background-color: #a8d08d;;
}

.bg-table-fiis {
  background-color: #bf9000;;
}

.bg-table-stocks {
  background-color: #2e75b5;;
}

.table-dark-gray {
  background-color: #3a3a3a;
  color: #ffffff;
}
.table-dark-gray th, .table-dark-gray td {
  border-color: #4d4d4d;
}
.highlight-total {
  font-weight: bold;
}

.transation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.table-transation {
  color: #000;
}

.transation-element {
  margin-bottom: 40px;
}

.transation-element table {
  width: 300px;
}

.table-transation tbody {
  background-color: #ffffff;
}

.table-header {
  background-color: #008000;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
.table-subheader {
  background-color: #ffcc00;
  font-weight: bold;
}
.highlight-green {
  background-color: #00ff00;
  color: #000;
  font-weight: bold;
  text-align: center;
}

.compra-venda {
  display: grid;
  text-decoration: none;
  padding: 16px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  font-size: 24px;
  justify-self: center;
}

.teste {
  background-color: blue;
  width: 300px;
  height: 500px;
}